<div class="col-sm-3">
  <input type="text" ng-model="query2" />
</div>
<div class="col-sm-3">
  <button ng-click=sendDataToRails()> cerca </button>
</div>
<div class="col-sm-3">
  <div>{{serverRead}}</div>
</div>