<div class="row">
  <button class="btn" ng-click="startLeft()" >Cut Start</button>
  <button class="btn right" ng-click="startRight()" >Cut Start</button>
</div>
<div id="0" class="riga">
  {{t[0]}}
</div>
<div id="1" class="riga">
  {{t[1]}}
</div>
<div id="2" class="riga">
  {{t[2]}}
</div>
<div id="3" class="riga">
  {{t[3]}}
</div>
<div id="4" class="riga">
  {{t[4]}}
</div>
<div id="5" class="riga">
  {{t[5]}}
</div>
<div id="6" class="riga">
  {{t[6]}}
</div>
<div id="7" class="riga">
  {{t[7]}}
</div>
<div id="8" class="riga">
  {{t[8]}}
</div>
<div id="9" class="riga">
  {{t[9]}}
</div>
<div class="row">
  <button class="btn" ng-click="endLeft()" >Cut End</button>
  <button class="btn right" ng-click="endRight()" >Cut End</button>
</div>