<div class="container">
  <div class="corpse">

    <div class="hex dispari" style="background-image: url(/assets/1.jpg);" >
      <div class="link-container">
        <a href="/1" class="link">LINK 1</a>
      </div>
      <div class="corner-1" > </div>
      <div class="corner-2"></div>
    </div>

    <div ng-repeat="o in comb[0]">
      <div class="hex" style="background-image: url(/assets/{{o}}.jpg);" >
        <div class="link-container">
          <a href="/{{o}}" class="link">LINK {{o}}</a>
        </div>
        <div class="corner-1" > </div>
        <div class="corner-2"></div>
      </div>
    </div>

    <div class="hex dispari" style="background-image: url(/assets/14.jpg);" >
      <div class="link-container">
        <a href="/14" class="link">LINK 14</a>
      </div>
      <div class="corner-1" > </div>
      <div class="corner-2"></div>
    </div>

    <div ng-repeat="o in comb[1]">
      <div class="hex" style="background-image: url(/assets/{{o}}.jpg);" >
        <div class="link-container">
          <a href="/{{o}}" class="link">LINK {{o}}</a>
        </div>
        <div class="corner-1" > </div>
        <div class="corner-2"></div>
      </div>
    </div>
    <div ng-repeat="o in comb[2]">
      <div class="hex" style="background-image: url(/assets/{{o}}.jpg);" >
        <div class="link-container">
          <a href="/{{o}}" class="link">LINK {{o}}</a>
        </div>
        <div class="corner-1" > </div>
        <div class="corner-2"></div>
      </div>
    </div>
  </div>
</div>
