<div ng-app="second" ng-controller="index">
  <div class="container">
    <div class="corpse">
      <div ng-repeat="o in oggetti">
        <div class="hex" style="background-image: url(/assets/{{o}}.jpg);" >
          <div class="link-container">
            <a href="/{{o}}" class="link">LINK 1</a>
          </div>
          <div class="corner-1" > </div>
          <div class="corner-2"></div>
        </div>
      </div>

      <!--<div class="hex" style="background-image: url(/assets/3.jpg);">
        <a href="/" class="link"></a>
        <div class="corner-1" > </div>
        <div class="corner-2"></div>
      </div>

      <div class="hex" style="background-image: url(/assets/4.jpg);">
        <a href="/" class="link"></a>
        <div class="corner-1" > </div>
        <div class="corner-2"></div>
      </div>

      <div class="hex" style="background-image: url(/assets/5.jpg);">
        <a href="/" class="link"></a>
        <div class="corner-1" > </div>
        <div class="corner-2"></div>
      </div>

      <div class="hex" style="background-image: url(/assets/5.jpg);">
        <a href="/" class="link"></a>
        <div class="corner-1" > </div>
        <div class="corner-2"></div>
      </div>

      <div class="hex" style="background-image: url(/assets/6.jpg);">
        <a href="/" class="link"></a>
        <div class="corner-1" > </div>
        <div class="corner-2"></div>
      </div>

      <div class="hex" style="background-image: url(/assets/7.jpg);">
        <a href="/" class="link"></a>
        <div class="corner-1" > </div>
        <div class="corner-2"></div>
      </div>

      <div class="hex dispari" style="background-image: url(/assets/8.jpg);">
        <a href="/" class="link"></a>
        <div class="corner-1" > </div>
        <div class="corner-2"></div>
      </div>

      <div class="hex" style="background-image: url(/assets/9.jpg);">
        <a href="/" class="link"></a>
        <div class="corner-1" > </div>
        <div class="corner-2"></div>
      </div>

      <div class="hex" style="background-image: url(/assets/10.jpg);">
        <a href="/" class="link"></a>
        <div class="corner-1" > </div>
        <div class="corner-2"></div>
      </div>

      <div class="hex" style="background-image: url(/assets/11.jpg);">
        <a href="/" class="link"></a>
        <div class="corner-1" > </div>
        <div class="corner-2"></div>
      </div>

      <div class="hex" style="background-image: url(/assets/12.jpg);">
        <a href="/" class="link"></a>
        <div class="corner-1" > </div>
        <div class="corner-2"></div>
      </div>

      <div class="hex" style="background-image: url(/assets/13.jpg);">
        <a href="/" class="link"></a>
        <div class="corner-1" > </div>
        <div class="corner-2"></div>
      </div>-->

    </div>
  </div>
<div>