<div ng-app="second" ng-controller="index">
  <div class="container">
    <div class="row">
      <honey-comb class = "col-sm-12" name={{oggetti[0]}}></honey-comb>
    </div>
    <div class="row">
      <honey-comb class = "col-sm-12" name={{oggetti[1]}}></honey-comb>
    </div>
    <div class="row">
      <honey-comb class = "col-sm-12" name={{oggetti[2]}}></honey-comb>
    </div>
    <div class="row">
      <honey-comb class = "col-sm-12" name={{oggetti[3]}}></honey-comb>
    </div>
  </div>
   <a ng-href="/third/index.html">link prossima</a>
<div>