<div ng-app="second" ng-controller="index">
  <div class="container">
    <div class="corpse">
      <div class="row">
        <honey-comb name={{oggetti[0]}}></honey-comb>
      </div>
      <div class="row">
        <honey-comb name={{oggetti[1]}}></honey-comb>
      </div>
    </div>
  </div>
<div>