<div class="around">
  <div class="hext" style="background-image: url(/assets/1.jpg);" >
    <div class="corner-1" > </div>
    <div class="corner-2"></div>
  </div>
  <div class="hext" style="background-image: url(/assets/2.jpg);" >
    <div class="corner-1" > </div>
    <div class="corner-2"></div>
  </div>
  <div class="hext" style="background-image: url(/assets/3.jpg);" >
    <div class="corner-1" > </div>
    <div class="corner-2"></div>
  </div>
  <div class="txth1">
    {{txt}}
  </div>
</div>
