<div class="container" ng-app = "third" ng-controller = "index">
  <div class="row">
    <div class="col-sm-6">
      <h1> Questa è una prova di h1 </h1>
    </div>
    <div class="col-sm-6">
      <hch1 txt = "Questa è una prova hch1"></hch1>
    </div>
  </div>
  <div class="row space">
    <div class="col-sm-12"></div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <h2> Questa è una prova di h2 </h2>
    </div>
    <div class="col-sm-6">
      <hch2 txt = "Questa è una prova hch2"></hch2>
    </div>
  </div>
  <div class="row space">
    <div class="col-sm-12"></div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <%= image_tag("6.jpg") %>
    </div>
    <div class="col-sm-6">
      <hcimg im = "6.jpg" l="200"></hcimg>
    </div>
  </div>
</div>
