<div class="container" ng-click=release() ng-app = "third" ng-controller = "index">
  <a ng-href="/fourth/index.html">link prossima</a>
  <div class="row">
    <div class="col-sm-6">
      <h1> Questa è una prova di h1 </h1>
    </div>
    <div id="h1" ng-click=click('h1') class="col-sm-6 movable">
      <hch1 txt = "Questa è una prova hch1"></hch1>
    </div>
  </div>
  <div class="row space">
    <div class="col-sm-12"></div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <h2> Questa è una prova di h2 </h2>
    </div>
    <div id="h2" ng-click=click('h2') class="col-sm-6 movable">
      <hch2 txt = "Questa è una prova hch2"></hch2>
    </div>
  </div>
  <div class="row space">
    <div class="col-sm-12"></div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <%= image_tag("6.jpg") %>
    </div>
    <div class="col-sm-4">
      <hcimg im = "6.jpg" l="190"></hcimg>
    </div>
    <div class="col-sm-4">
      <hcimg im = "6.jpg" l="300"></hcimg>
    </div>
  </div>
</div>
